server:
  port: 8889

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/r1961r/commandes-microservices.git
          default-label: main